@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.logo {
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Italianno', cursive;
}

.bg-color {
  width: 100%;
}
